.Card {
  width: 330px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: pointer;
  /* background-color: azure; */
  background: linear-gradient(
    124.89deg,
    rgba(102, 125, 182, 0.3) 7.34%,
    rgba(0, 130, 200, 0.3) 34.16%,
    rgba(0, 130, 200, 0.3) 64.68%,
    rgba(102, 125, 182, 0.3) 93.81%
  );
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 27px;
  margin-left: 50px;
  /* margin-top: 15px; */
}

.Card:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.Card:hover img {
  transform: translateY(-20px);
}

.Card img {
  height: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  padding-left: 85px;
  margin-top: 50px;
}

.Card h3 {
  color: grey;
  font-size: 30px;
  margin: 20px 0 0 20px;
  width: 190px;
}

.Card p {
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  align-self: end;
  margin: 0 0 20px 20px;
}

.Cards h2 {
  margin: 50px 20px;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  background: linear-gradient(104.74deg, #050a27 0%, #4a548c 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Card a {
  /* position: absolute; */

  backdrop-filter: blur(20px);
  align-items: center;

  width: 100%;
}


.Card a:hover{

    background: linear-gradient(
    124.89deg,
    #667db6 7.34%,
    #0082c8 34.16%,
    #0082c8 64.68%,
    #667db6 93.81%
  );
}



@media (max-width: 640px) {
  .Cards h2 {
    font-size: 30px;
  }
}
