.ChatSessionCard {
    display: flex;
    width: 298px;
height: 92px;
margin-left: 330px;
background: rgba(239, 240, 246, 0.1);
/* background:red; */
border-radius: 10px;
margin-top: 10px;
}

.ChatSessionCard img{
 height: 50px;
 width: 50px;
 background: green;
margin-top:20px ;
margin-left: 20px;
border-radius: 50%;
image-resolution: fit;

}



.ChatCredentials h3{
    padding:0;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 25px;
}


.ChatCredentials p{
    padding:0;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color:white;
    margin-left: 20px;
}


.ChatSessionCard:hover {
    display: flex;
    width: 298px;
height: 92px;
margin-left: 330px;
background: #E5F2FA;
/* background:red; */
border-radius: 10px;
transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

}

.ChatCredentials:hover h3{
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

    color:#0E3050; 
}

.ChatCredentials:hover p{
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

    color:#0E3050; 
}