
.smallcard {
    width: 220px;
    height: 155px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
    /* background-color: azure; */
    background:linear-gradient(127.12deg, rgba(241, 39, 17, 0.3) 2.65%, rgba(245, 175, 25, 0.3) 104.67%); ;
    /* backdrop-filter: blur(5px); */
    /* Note: backdrop-filter has minimal browser support */
  
    /* border-radius: 27px; */
    /* margin-left: 50px; */
    /* margin-top: 15px; */
  }
  

  