
.smallcardBG{
width:1561px;
height: 1047px;
background: url('https://p50.f0.n0.cdn.getcloudapp.com/items/6quQQE8j/ab153d5c-d474-4cd7-8cf0-528efcfff830.png?source=viewer&v=c8639baf9e516f5f5f7b8b4680aa07c9');
}