.ProcessPage {
  height: 5000px;
  background-size: cover;
  background-position: center;
  background: linear-gradient(354.12deg, #012343 10%, #000000 100%);
  z-index: inherit;
}

.ProcessHero {
  height: 100%;
}

.ProcessHeroGroup {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}
.ProcessHero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  padding-top: 180px;
  text-decoration: Uppercase;
  padding-bottom: 50px;

  font-style: normal;

  animation: HeroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.82, 0.2, 1);
  font-weight: 700;
  margin-left:101px ;
}


.HeroElement1{
  width: 1545.49px;
  height: 1307.33px;
  background: linear-gradient(180deg, #103A79 0%, #129FBE 100%);
border-radius: 40px;

margin-top: 500px;
margin-left: 200px;
}

.HeroElement1 h2{

  padding-top: 86px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  /* margin-top: 22px; */
  letter-spacing: 0.11em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 0px;
  margin-left: 101px;


}


.ProcessBGImage {

  background: url('https://p50.f0.n0.cdn.getcloudapp.com/items/P8umqzq2/12610663-01ba-44bf-a43f-c40012f2e853.png?source=viewer&v=a7363016e06745f8a2eecbf2afe89f9b');
  background-repeat: no-repeat;
top: 0;
right: 0;

}